@charset "UTF-8";
@font-face {
  font-family: "Mazzard-R";
  src: url("../font/MazzardH-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Mazzard-B";
  src: url("../font/MazzardH-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "OctosM";
  src: url("../font/TTOctosquares-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "OctosR";
  src: url("../font/TTOctosquares-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NeueMachina-Medium";
  font-style: normal;
  font-weight: normal;
  src: local("NeueMachina-Medium"), url("../font/NeueMachina-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "NeueMachina-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("NeueMachina-Bold"), url("../font/NeueMachina-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "NeueMachina-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("NeueMachina-Regular"), url("../font/NeueMachina-Regular.woff2") format("woff2");
}
.faction__acor {
  font-family: "OctosM", serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 396px;
  height: 522px;
  margin-right: 61px;
  background: url("../img/faction-line.png") top right 15px no-repeat;
}
.faction__acor-body {
  height: 0;
  transition: color 0.5s, padding 0.5s;
  overflow: hidden;
  position: relative;
}
.faction__acor-body img {
  margin-left: 60px;
}
.faction__acor label {
  cursor: pointer;
  display: block;
  /* padding: 15px 20px; */
  width: 100%;
  transition: color 0.35s;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.faction__acor input {
  display: none;
}
.faction__acor-title {
  padding-right: 70px;
  font-weight: 500;
  font-size: 22px;
}
.faction__acor label::after {
  display: none;
}
.faction__acor input:checked + label:before {
  transition: transform 0.35s;
}
.faction__acor-btn {
  position: absolute;
  -webkit-clip-path: polygon(0px 5.493px, 89.877px 5.493px, 98.366px 0px, 125px 0px, 125px 56px, 29.46px 56px, 21.471px 51.54px, 0px 51.54px);
          clip-path: polygon(0px 5.493px, 89.877px 5.493px, 98.366px 0px, 125px 0px, 125px 56px, 29.46px 56px, 21.471px 51.54px, 0px 51.54px);
  background: url("../img/btn-more.png");
  height: 56px;
  width: 136px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.6s ease;
  overflow: hidden;
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
  color: black;
}
.faction__acor-btn:hover {
  color: #000;
}
.faction__acor-btn:hover {
  filter: brightness(1.2);
}

.on, .off {
  position: absolute;
}

label:nth-child(odd) .on, label:nth-child(odd) .off {
  transform: scale(-1, 1);
}

input[type=radio]:checked + label {
  text-transform: uppercase;
}

input[type=radio]:checked + label .off {
  display: none;
}

.faction__acor input:checked + label + .faction__acor-body {
  height: auto;
}

.header {
  position: absolute;
  z-index: 999;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 46px;
}
.header__social {
  display: flex;
  align-items: center;
  -moz-column-gap: 31px;
       column-gap: 31px;
}
.header__btn {
  background: url("../img/btn-194.png") top no-repeat;
  -webkit-clip-path: polygon(0px 5.451px, 159.5px 5.451px, 168px 0px, 194px 0px, 194px 56px, 29.5px 56px, 21.5px 51.54px, 0px 51.54px);
          clip-path: polygon(0px 5.451px, 159.5px 5.451px, 168px 0px, 194px 0px, 194px 56px, 29.5px 56px, 21.5px 51.54px, 0px 51.54px);
  height: 56px;
  width: 194px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.6s ease;
  overflow: hidden;
  font-weight: 700;
  cursor: pointer;
}
.header__btn:hover {
  color: #000;
}
.header__btn:hover {
  background: url("../img/btn-194-hov.png") top no-repeat;
}
.header__burger {
  display: none;
  cursor: pointer;
}
.header__burger .line1, .header__burger .line2, .header__burger .line3 {
  height: 2.5px;
  background-color: #fff;
  margin-bottom: 9.16px;
  margin-left: auto;
  transition: 0.3s;
}
.header__burger .line1 {
  width: 30.54px;
}
.header__burger .line2 {
  width: 17.31px;
}
.header__burger .line3 {
  width: 25.45px;
}
.header__burger .change .line1 {
  transform: rotate(-45deg) translate(-6px, 10px);
}
.header__burger .change .line2 {
  transform: rotate(45deg) translate(-9px, 1.69px);
}
.header__burger .change .line3 {
  transform: rotate(45deg) translate(-5px, -9px);
}

.main__container {
  height: 100vh;
  /* padding: 220px auto 221px; */
  display: flex;
  align-items: center;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.main__layer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: center;
  /* will-change: transform; ?????????????????????????????? */
}
.main__layers-base {
  background: url("../img/layer-intro-base.png") top no-repeat;
  background-size: cover;
  transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
  z-index: -2;
}
.main__layers-middle {
  background: url("../img/layer-intro-middle.png") top no-repeat;
  background-size: cover;
  transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}
.main__layers-front {
  background: url("../img/layer-intro-front.png") top no-repeat;
  background-size: cover;
  transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}
.main__layers-gradient {
  background: url("../img/gradient-1(chamge).png") top no-repeat;
  background-size: cover;
  transform: translate3d(0, calc(var(--scrollTop) / 7), 0);
}
.main__intro {
  z-index: 9;
  transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
  will-change: transform;
  display: flex;
  align-items: center;
  width: 100%;
}
.main__text {
  gap: 55px;
  margin: 0 auto;
}
.main__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 21px;
  margin-left: -44px;
}
.main__btn-mint {
  background: url("../img/btn-136.png") top no-repeat;
  -webkit-clip-path: polygon(0px 5.451px, 101.626px 5.451px, 110.095px 0px, 136px 0px, 136px 56px, 29.392px 56px, 21.421px 51.54px, 0px 51.54px);
          clip-path: polygon(0px 5.451px, 101.626px 5.451px, 110.095px 0px, 136px 0px, 136px 56px, 29.392px 56px, 21.421px 51.54px, 0px 51.54px);
  height: 56px;
  width: 136px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.6s ease;
  overflow: hidden;
  font-weight: 700;
  cursor: pointer;
}
.main__btn-mint:hover {
  color: #000;
}
.main__btn-mint:hover {
  background: url("../img/btn-136-hov.png") top no-repeat;
}
.main__btn-connect {
  background: url("../img/btn-194.png") top no-repeat;
  -webkit-clip-path: polygon(0px 5.451px, 159.5px 5.451px, 168px 0px, 194px 0px, 194px 56px, 29.5px 56px, 21.5px 51.54px, 0px 51.54px);
          clip-path: polygon(0px 5.451px, 159.5px 5.451px, 168px 0px, 194px 0px, 194px 56px, 29.5px 56px, 21.5px 51.54px, 0px 51.54px);
  height: 56px;
  width: 194px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.6s ease;
  overflow: hidden;
  font-weight: 700;
  cursor: pointer;
}
.main__btn-connect:hover {
  color: #000;
}
.main__btn-connect:hover {
  background: url("../img/btn-194-hov.png") top no-repeat;
}

.faction__container {
  height: 749px;
  background: url("../img/back_faction.png") top no-repeat;
  background-size: cover;
  /* display: flex; */
}
.faction__inner {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 114px 0;
}
.faction__title {
  margin-top: -31px;
}
.faction__info {
  display: flex;
  align-items: center;
  gap: 27px;
  font-family: "OctosM", serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
}
.faction__points {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 77px;
}
.faction__point-1 {
  text-transform: uppercase;
  margin-bottom: 152px;
}
.faction__lights-on {
  position: absolute;
  margin: 9px -32px;
}

.roadmap__container {
  display: flex;
  margin-bottom: 168px;
}
.roadmap__inner {
  padding-top: 85px;
}
.roadmap__text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 53px;
  margin-left: 11%;
  margin-bottom: 111px;
  align-items: flex-start;
  gap: 10px;
}
.roadmap__title {
  margin-left: -8px;
}
.roadmap__info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 98px;
}
.roadmap__about {
  display: flex;
  /* align-items: flex-end; */
  gap: 42px;
  font-family: "Mazzard-R", serif;
  font-size: 13px;
}
.roadmap__lights-on {
  position: absolute;
  margin: 12px -48px;
}
.roadmap__points {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: -17px;
}
.roadmap__point {
  height: 56px;
  width: 464px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.6s ease;
  overflow: hidden;
  font-weight: 700;
  cursor: pointer;
  height: 175px;
  -webkit-backdrop-filter: blur(16.9248px);
          backdrop-filter: blur(16.9248px);
  -webkit-clip-path: polygon(0px 0px, 61.9px 0px, 82.16px 13.18px, 468px 13.18px, 468px 165.2px, 410.8px 164.3px, 391.748px 175px, 0px 175px);
          clip-path: polygon(0px 0px, 61.9px 0px, 82.16px 13.18px, 468px 13.18px, 468px 165.2px, 410.8px 164.3px, 391.748px 175px, 0px 175px);
  background: url("../img/frame-175.png") top no-repeat;
}
.roadmap__point:hover {
  color: #000;
}
.roadmap__point:hover {
  background: url("../img/frame-full-175.png") top no-repeat;
}
.roadmap__point::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  background: linear-gradient(60deg, #F1A347, #FF72E0);
  filter: blur(51.7478px);
}
.roadmap__point-text {
  width: 80%;
  align-items: flex-start;
  z-index: 1;
}
.roadmap__point-text h3 {
  font-family: "Neue Machina";
  font-size: 41px;
}
.roadmap__point-text h4 {
  font-family: "Mazzard-B", serif;
  line-height: 140%;
}
.roadmap__point-text p {
  width: 100%;
  font-weight: 400;
}
.roadmap__point:nth-child(1)::before {
  margin-left: 50%;
  margin-bottom: 26%;
}
.roadmap__point:nth-child(2)::before {
  margin-top: 26%;
  margin-right: 40%;
}
.roadmap__point:nth-child(3)::before {
  margin-left: 25%;
  margin-bottom: 26%;
}
.roadmap__point:nth-child(4)::before {
  margin-left: 25%;
  margin-bottom: 26%;
}
.roadmap__point:nth-child(5)::before {
  margin-top: 26%;
  margin-right: 40%;
}

.actve {
  background: url("../img/frame-full-175.svg") top no-repeat;
}

.slideshow {
  z-index: -1;
  margin-left: -42%;
  margin-top: 55px;
  overflow: hidden;
}

.slide {
  display: none;
}
.slide:nth-child(5) {
  margin-left: 220px;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.collab__container {
  /* я думаю, надо заменять, но не знаю что */
  padding-bottom: 146px;
}
.collab__inner {
  margin-top: 63px;
  display: flex;
  /* gap: 100px; */
}
.collab__info {
  display: flex;
  flex-direction: column;
  gap: 51px;
  margin: 0 auto;
}
.collab__logos {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1117px;
  gap: 51px;
  flex-wrap: wrap;
}
.collab__logo {
  height: 56px;
  width: 241px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.6s ease;
  overflow: hidden;
  font-weight: 700;
  cursor: pointer;
  height: 113px;
  -webkit-backdrop-filter: blur(16.9248px);
          backdrop-filter: blur(16.9248px);
  -webkit-clip-path: polygon(0px 0px, 36.757px 0px, 48.773px 7.88px, 241px 7.88px, 241px 106.553px, 210.605px 106.553px, 199.296px 113px, 0px 113px);
          clip-path: polygon(0px 0px, 36.757px 0px, 48.773px 7.88px, 241px 7.88px, 241px 106.553px, 210.605px 106.553px, 199.296px 113px, 0px 113px);
  background: url("../img/btn-241.png") top no-repeat;
  font-family: "OctosR", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 100%;
  text-transform: uppercase;
}
.collab__logo:hover {
  color: #000;
}
.collab__text {
  /* width: fit-content;
  margin-top: 53px;
  margin-left: 158px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

.questions__text {
  /* width: fit-content; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.questions__title {
  max-width: 675px;
  text-align: center;
}
.questions__info {
  display: flex;
  align-items: center;
  /* gap: 75px; */
  margin-top: 90px;
}
.questions__about {
  -webkit-backdrop-filter: blur(16.9248px);
          backdrop-filter: blur(16.9248px);
  -webkit-clip-path: polygon(0px 0px, 61.9px 0px, 82.143px 13.134px, 1221px 13.134px, 1221px 766px, 1169.81px 766px, 1150.762px 776.746px, 0px 776.746px);
          clip-path: polygon(0px 0px, 61.9px 0px, 82.143px 13.134px, 1221px 13.134px, 1221px 766px, 1169.81px 766px, 1150.762px 776.746px, 0px 776.746px);
  overflow: hidden;
  background: linear-gradient(238.33deg, rgba(255, 255, 255, 0) -7.92%, rgba(255, 255, 255, 0.15) 33.87%);
  border: 2.12px solid;
  border-image-source: linear-gradient(109.27deg, rgba(255, 255, 255, 0.33) -4.94%, rgba(255, 255, 255, 0) 56.55%);
  width: 83.79vw;
  height: 777px;
  /* height: fit-content; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(407px, 1fr));
  grid-template-rows: auto; */
  margin: 0 auto;
}
.questions__title span {
  padding: 0 47px 0 23px;
}
.questions__block {
  padding: 58px 28px 45px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid white;
}
.questions__block p {
  width: 351px;
  font-family: "Mazzard-R";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  margin-top: 16px;
}
.questions__block p:nth-of-type(2) {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}
.questions__block:nth-child(4) p:nth-of-type(2) {
  font-weight: 700;
  font-size: 14px;
  margin: 0;
}
.questions__block h3 {
  width: 333px;
  font-family: "TTOctosquares-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 117.8%;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}
.questions__vec img:nth-child(1) {
  transform: rotate(90deg);
}
.questions__block:nth-child(2), .questions .questions__block:nth-child(8) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  height: 56.67px;
}
.questions__block:nth-child(4) {
  padding-top: 46px;
  padding-bottom: 62px;
}
.questions__block:nth-child(10) {
  padding-top: 43px;
}
.questions__block:nth-child(8) {
  padding: 0;
  height: 116.75px;
}
.questions__block:last-child {
  padding-top: 40px;
  padding-bottom: 40px;
}
.questions__vec {
  display: flex;
  justify-content: center;
  border: 1px solid white;
  height: 100%;
  width: 100%;
}
.questions__vec img {
  -o-object-fit: contain;
     object-fit: contain;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.questions__block:nth-child(2) .questions__vec:first-child {
  width: 29%;
}
.questions__block:nth-child(2) .questions__vec:nth-child(2) {
  width: 39%;
}
.questions__block:nth-child(2) .questions__vec:nth-child(3) {
  width: 34%;
}
.questions__block:nth-child(8) .questions__vec:first-child {
  width: 51%;
}

.footer__inner {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 75px 50px;
}
.footer__container {
  /* margin: 0 auto; */
  background-color: black;
}
.footer__social {
  display: flex;
  margin-left: 10%;
  align-items: center;
  -moz-column-gap: 31px;
       column-gap: 31px;
}
.footer__rights {
  margin-left: auto;
  text-align: end;
}

@media screen and (max-width: 1090px) {
  .collab__title {
    font-size: 50px !important;
  }
}
@media screen and (max-width: 1024px) {
  .faction__inner {
    flex-direction: column;
  }
  .faction__title {
    margin-bottom: 40px;
  }
  .faction__acor {
    margin: 0;
  }
  .roadmap__title {
    font-size: 40px;
  }
  .slideshow {
    margin-left: -80%;
    filter: brightness(0.6);
  }
  .collab__title {
    font-size: 40px;
  }
}
@media screen and (max-width: 890px) {
  .collab__title {
    font-size: 40px !important;
  }
}
@media screen and (max-width: 768px) {
  [class*=__title] {
    font-size: 50px !important;
  }
  [class$=__nav] {
    display: none !important;
  }
  .main__btns {
    margin-left: 0;
  }
  .slideshow {
    margin-left: -130%;
  }
  .collab {
    display: none;
  }
  .roadmap__info {
    margin-left: 11%;
  }
}
@media screen and (max-width: 660px) {
  .header__btn, .header__social {
    display: none;
  }
  .header__burger {
    display: block;
  }
  .main__btns {
    flex-direction: column;
  }
  .faction__title {
    font-size: 40px;
  }
  .roadmap__point {
    height: 56px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.6s ease;
    overflow: hidden;
    font-weight: 700;
    cursor: pointer;
    height: 227.53px;
    -webkit-clip-path: polygon(0px 0px, 63.123px 0px, 83.76px 9.12px, 250px 9.12px, 250px 220.066px, 197.802px 220.066px, 178.379px 227.528px, 0px 227.528px);
            clip-path: polygon(0px 0px, 63.123px 0px, 83.76px 9.12px, 250px 9.12px, 250px 220.066px, 197.802px 220.066px, 178.379px 227.528px, 0px 227.528px);
    background: url("../img/frame-250.png") top no-repeat;
  }
  .roadmap__point:hover {
    color: #000;
  }
  .roadmap:hover {
    background: url("../img/frame-full-250.png") top no-repeat;
  }
  .roadmap__info {
    justify-content: center;
  }
  .questions__title {
    font-size: 35px !important;
  }
  .questions__title span {
    padding: 0 12px;
  }
  .questions__title span img {
    width: 28px;
  }
  .footer__inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .footer__social {
    margin: 0;
  }
  .footer__rights {
    text-align: start;
    margin: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(49, 49, 49);
  color: white;
  margin: 0 auto;
  font-family: "Mazzard-R", serif;
}

[class*=__container] {
  width: 100vw;
}

[class*=__title] {
  font-size: 64px;
  font-family: "OctosR", serif;
  font-weight: 400;
  line-height: 76px;
  letter-spacing: 0.365em;
  text-transform: uppercase;
  text-align: center;
}

[class*=__text] {
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 20px; */
}

div[class*=btn] {
  font-family: "Neue Machina";
  font-weight: 700;
  /* letter-spacing: 0.9px; ???????????????????? */
  line-height: 140%;
}

[class$=__nav] {
  display: flex;
  align-items: center;
  gap: 40px;
  font-family: "NeueMachina-Medium", sans-serif;
  letter-spacing: 0.9px;
  width: 22px;
  transform: rotate(90deg);
  align-self: baseline;
  margin-left: 53px;
}

[class*=__nav-link] {
  font-weight: 500;
  line-height: 140%;
}

a {
  text-decoration: none;
  color: white;
}/*# sourceMappingURL=style.css.map */