.faction__acor{
    font-family: "Octos",serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 396px;
    height: 522px;
    margin-right: 61px;

    background:    
    url('../img/faction/faction-line.png')
    top right 15px no-repeat;
    &-body {
        height: 0;
        transition: color 0.5s, padding 0.5s;
        -webkit-transition: color 0.5s, padding 0.5s;
        -moz-transition: color 0.5s, padding 0.5s;
        -o-transition: color 0.5s, padding 0.5s;
        overflow: hidden;
        position: relative;
        margin-top: -35px;
        img{
            margin-left: 60px;
        }
    }
    &-label {
        cursor: pointer;
        display: block;
        width: 100%;
        transition: color .35s;
        -webkit-transition: color .35s;
        -moz-transition: color .35s;
        -o-transition: color .35s;
        display: flex;
        justify-content: flex-end;
        align-items: center;   
        &::after {
            display: none;
        }
    }
    input{
        display: none;
    }
    &-title{
        padding-right: 70px;
        font-weight: 500;
        font-size: 22px;
    }
    
    input:checked + .faction__acor-label::before {
        transition: transform .35s;
        -webkit-transition: transform .35s;
        -moz-transition: transform .35s;
        -o-transition: transform .35s;
    }
    &-btn{    
        position: absolute;
        margin-top: 26px;
        clip-path: polygon(0px 5.493px, 89.877px 5.493px, 98.366px 0px, 125px 0px, 125px 56px, 29.46px 56px, 21.471px 51.54px, 0px 51.54px);
        background: url("../img/faction/btn-more.png");
        @include btn(136);
        font-size: 16px;
        color: black;
        &:hover{
            filter: brightness(1.2);
        }
    }
}


.on, .off{
    position: absolute;
}

.faction__acor-label:nth-child(odd) .on, .faction__acor-label:nth-child(odd) .off{
    transform:scale(-1, 1);
}

input[type="radio"]:checked + .faction__acor-label{
    text-transform: uppercase;
}

input[type="radio"]:checked + .faction__acor-label .off {
    display: none;
}

.faction__acor input:checked + .faction__acor-label + .faction__acor-body {
    height: auto;
}
