.collab{
    &__container{
        padding-bottom: 182px;
        padding-top: 53px;
    }
    &__inner{
        display: flex;
    }
    &__nav{
        margin-top: -20px;
    }
    &__info{
        display: flex;
        flex-direction: column;
        gap: 63px;
        margin: 0 auto;
    }
    &__logos{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        max-width: 1117px; 
        gap: 51px;
        flex-wrap: wrap;
        margin-left: -49px;
    }
    &__logo{
        @include btn(241);
        @include blur;
        height: 113px;
        clip-path: polygon(0px 0px, 36.757px 0px, 48.773px 7.88px, 241px 7.88px, 241px 106.553px, 210.605px 106.553px, 199.296px 113px, 0px 113px);
        background:    
        url('../img/collab-btn-241.png')
        top no-repeat;

        font-family: "Octos", serif;
        font-weight: 400;
        font-size: 25px;
        line-height: 100%;
        text-transform: uppercase;
    }
    &__text{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 17px;
        width: 100%;
        margin-left: -36px;
    }
    &__title{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 24px;
        span{
            position: absolute;
            margin-left: -5.94%;
            margin-bottom: 1.7%;
        }
    }
}