.collab{
    &__container{
        /* я думаю, надо заменять, но не знаю что */
        padding-bottom: 146px;
    }
    &__inner{
        margin-top: 63px;
        display: flex;
        /* gap: 100px; */
    }
    &__info{
        display: flex;
        flex-direction: column;
        gap: 51px;
        margin: 0 auto;
    }
    &__logos{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        // ?????????????????????????
        max-width: 1117px; 
        gap: 51px;
        flex-wrap: wrap;
    }
    &__logo{
        background:    
        url('../img/logo_btn.png')
        left no-repeat;
        width: 241px;
        height: 113px;
    }
    &__logo a{
        /* padding: 45px 81px 43px 82px; */
        width: 241px;
        height: 113px;
        margin: auto;
    }
    &__text{
        /* width: fit-content;
        margin-top: 53px;
        margin-left: 158px;*/
        
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 22px;
    }
}