.faction{
    &__container{
    background:    
    url('../img/faction/back_faction.png')
    top no-repeat;
    background-size: cover;
    height: 751px;
    }
    &__inner{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 118px;
    }
    &__nav{
        margin-top: 49px;
    }
    &__title{
        margin-top: -39px;
        margin-left: -44px;
    }
    &__info{
        display: flex;
        align-items: center;
        gap: 27px;
        font-family: "Octos",serif;
        font-weight: 500;
        font-size: 22px;
        line-height: 140%;
    }
    &__points{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 77px;
    }
    &__point-1{
        text-transform: uppercase;
        margin-bottom: 152px;
    }
    &__lights-on{
        position: absolute;
        margin: 9px -32px;
    }
}
