.footer{
    &__inner{
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 75px 50px;
        
    }
    &__container{
        position: relative;
        z-index: 2;
        background-color: black;
    }
    &__social{
        display: flex;
        margin-left: 10%;
        align-items: center;
        column-gap: 31px;
    }
    &__rights{
        margin-left: auto;
        text-align: end;
    }
}