.header{
    position: absolute;
    z-index: 999;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 46px;
    &__social{
        display: flex;
        align-items: center;
        column-gap: 31px;
    }
    &__btn{
        background:    
            url('../img/btn-194.png')
             top no-repeat;  
        clip-path: polygon(0px 5.451px, 159.5px 5.451px, 168px 0px, 194px 0px, 194px 56px, 29.5px 56px, 21.5px 51.54px, 0px 51.54px);
        @include btn(194);
        &:hover{
            background:    
            url('../img/btn-194-hov.png')
             top no-repeat;
        }
    }
}