.main{
    position: relative;
    &__container{
        height: 100vh;
        display: flex;
        align-items: center;
        text-align: center;
        overflow: hidden;
        position: relative;
    }
    &__layer{
        height: 100%;
        width: 100%;
        position: absolute;
        background-position: center;
        will-change: transform;
    }
    &__layers-base{
        background:    
            url('../img/main/layer-intro-base.png')
             top no-repeat;
        background-size: cover;
        transform: translate3d(0, calc(var(--scrollTop)/1.6),0);
        z-index: -2;
    }
    &__layers-middle{
        background:    
            url('../img/main/layer-intro-middle.png')
            top no-repeat;
        background-size: cover;
        transform: translate3d(0, calc(var(--scrollTop)/2.5),0);
    }
    &__layers-front{
        background:    
            url('../img/main/layer-intro-front.png')
            top no-repeat;
        background-size: cover;
        transform: translate3d(0, calc(var(--scrollTop)/5.7),0);
    }
    &__intro{
        z-index: 9;
        transform: translate3d(0, calc(var(--scrollTop)/2),0);
        will-change: transform;
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 42px;
    }
    &__nav{
        margin-top: -9.2%;
    }
    &__text{
        gap: 35px;
        margin-left: 70px;
    }
    &__btns{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 21px;
        margin-left: -24px;
    }
    &__btn-mint{
        background:    
            url("../img/main-btn-136.png")
             top no-repeat;  
        clip-path: polygon(0px 5.451px, 101.626px 5.451px, 110.095px 0px, 136px 0px, 136px 56px, 29.392px 56px, 21.421px 51.54px, 0px 51.54px);
        @include btn(136);
        &:hover{
            background:    
            url("../img/main-btn-full-136.png")
             top no-repeat;
        }
    }
    
    &__btn-connect{
        background:    
            url('../img/btn-194.png')
             top no-repeat;  
        clip-path: polygon(0px 5.451px, 159.5px 5.451px, 168px 0px, 194px 0px, 194px 56px, 29.5px 56px, 21.5px 51.54px, 0px 51.54px);
        @include btn(194);
        &:hover{
            background:    
            url('../img/btn-full-194.png')
             top no-repeat;
        }
    }
}
