@media screen and (max-width: 1024px) {
    .faction{
        &__inner{
            flex-direction: column;
        }
    }
    .roadmap{
        &__title{
            font-size: 40px !important;
        }
    }
    .slideshow{
        margin-left: -80%;
        filter:brightness(0.6);
    }
    .collab{
        &__title{
            font-size: 40px !important;
        }
    }
}

@media screen and (max-width: 768px)
{
    [class*="__title"] {
        font-size: 50px !important;
    }
    [class$="__nav"]{
        display: none !important;
    }
    .slideshow{
        margin-left: -130%;
    }
    .collab{
        display: none;
    }
}

@media screen and (max-width: 660px)
{
    .header{
        &__btn, &__social{
            display: none;
        }
        &__burger{
            display: block;
        }
    }
    .main{
        &__btns{
            flex-direction: column;
        }
    }
    .faction{        
        &__title{
            font-size: 40px;
        }
    }
    .roadmap{
        &__point{
            @include btn(250);
            height: 227.53px;
            clip-path: polygon(0px 0px, 63.123px 0px, 83.76px 9.12px, 250px 9.12px, 250px 220.066px, 197.802px 220.066px, 178.379px 227.528px, 0px 227.528px);
            background:    
            url('../img/frame-250.png')
            top no-repeat;
        }
        &:hover{
            background:    
            url("../img/frame-full-250.png")
             top no-repeat;
        }
        &__info{
            justify-content: center;
        }
    }
    .footer{
        
        &__inner{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 50px;
        }
        &__social{
            margin: 0;
        }
        &__rights{
            text-align: start;
            margin: 0;
        }
    }
}