@media screen and (min-width: 1500px){
    .main{
        &__text{
            margin: 0 auto;
        }
    }
    .slideshow{
        margin-left:-20%;
    }
}
@media screen and (max-width: 1270px){
    .questions{
        &__block{
            h3{
                font-size: 28px;
            }
        }
    }
    .collab{
        &__info{
            margin: 0 60px;
        }
    }
}
@media screen and (max-width: 1160px){
    .faction{
        &__title{
            font-size: 50px;
        }
    }
    .questions{
        &__about{
            clip-path: none;
            width: 100%;
            display: block;
            width: 331px;
        }
        &__block{
            padding: 40px 20px;

        }
    }
}

@media screen and (max-width: 1090px){
    .collab{
        &__title{
            font-size: 50px;
        }
    }
}
@media screen and (max-width: 1024px) {
    .faction{
        &__title{
            margin-right: -89px;
        }
    }
    .slideshow{
        margin-left: -80%;
        filter:brightness(0.6);
    }
    .collab{
        &__title{
            font-size: 40px;
        }
    }
}

@media screen and (max-width: 960px){
    .faction{
        &__inner{
            flex-direction: column;
            padding-top: 0px;
        }
        &__title{
            margin-bottom: 40px;
        }
        &__acor{
            margin: 0;
        }
    }
}

@media screen and (max-width: 890px){
    .collab{
        &__title{
            font-size: 40px;
        }
    }
    
}

@media screen and (max-width: 768px)
{
    [class*="__title"] {
        font-size: 50px;
        line-height: 100%;
        letter-spacing: 0.21em;
    }
    [class$="__nav"]{
        display: none;
    }
    .main{
        &__text{
            margin: -48px auto 0;
            gap: 77px;
            // margin-top: -134px;
        }
        &__btns{
            margin-left: 0;
            gap: 35px;
        }
        &__btn-mint{
            background:    
            url("../img/btn-171.png")
             top no-repeat;
            clip-path: polygon(0px 6.898px, 127.924px 6.898px, 138.584px 0, 171.192px 0, 171.192px 70.86px, 36.997px 70.86px, 26.964px 65.216px, 0px 65.216px);
            @include btn(171.192);
            height: 70.86px;
            &:hover{
                background:    
                url("../img/btn-full-171.png")
                 top no-repeat;
            }
        }
        &__btn-connect{
            background:    
            url("../img/btn-243.png")
             top no-repeat;
            clip-path: polygon(0px 6.898px, 200.037px 6.898px, 219.698px 0, 243.306px 0, 243.306px 70.86px, 36.997px 70.86px, 26.964px 65.216px, 0px 65.216px);
            @include btn(243.31);
            height: 70.86px;
            &:hover{
                background:    
                url("../img/btn-full-243.png")
                 top no-repeat;
            }
        }
    }
    
    .slideshow{
        margin-left: -130%;
    }
    .collab{
        display: none;
    }
    .roadmap{
        &__info{
            margin-left: 11%;
        }
        &__inner{
            margin-left: 24px;
        }
    }
    .faction{
        &__inner{
            padding-top: 118px;
        }
    }
}

@media screen and (max-width: 660px)
{
    .header{
        padding: 31px 25px;
        &__btn, &__social{
            display: none;
        }
        &__burger{
            display: block;
        }
    }
    .main{
        &__btns{
            flex-direction: column;
        }
    }
    .faction{  
        &__container{
            height: 930px;
            background:    
            url('../img/faction/back_faction-adaptive.png')
            top no-repeat;
            background-size: cover;
        }
        &__inner{
            padding-top: 198px;
            padding-right: 34px;
        }      
        &__title{
            font-size: 40px;
        }
        &__acor{
            margin-right: 24px;
            margin-top: 45px;
            &-btn{
                margin-top: 134px;
                margin-left: 90px;
            }
        }
    }
    .roadmap{
        &__inner{
            padding-top: 58px;
        }
        &__points{
            gap: 77px
        }
        &__point{
            @include btn(250);
            height: 250px;
            margin-top: -40px;
            clip-path: polygon(0px 0px, 63.123px 0px, 83.76px 9.12px, 250px 9.12px, 250px 220.066px, 197.802px 220.066px, 178.379px 227.528px, 0px 227.528px);
            background:    
            url("../img/roadmap/frame-250.png")
            top no-repeat;
            &:nth-child(5){
                height: 174px;
                clip-path: polygon(0px 0px, 63.123px 0px, 83.76px 9.12px, 250px 9.12px, 250px 166.181px, 197.802px 166.181px, 178.379px 173.643px, 0px 173.643px);
                background:    
                url('../img/roadmap/frame-250-five.png')
                top no-repeat;
                &.active{
                    height: 173px;
                    clip-path: polygon(0px 0px, 67.413px 0px, 89.456px 9.74px, 267px 9.74px, 267px 165.357px, 211.253px 165.357px, 190.509px 173.326px, 0px 173.326px);                    
                    background:    
                        url("../img/roadmap/frame-full-250-five.png")
                        top no-repeat;
                }
            }
            &-text{
                margin: 0;
            }
        }
        &__line{
            &-mobile{
                display: block;
            }
            &-desk{
                display: none;
            }
        }
        &__text{
            margin: 0;
            gap: 32px;
            
        }
        &__title{
            font-size: 40px;
        }
        &__about{
            gap: 20px;
        }
    }
    .active{
        width: 267px;
        clip-path: polygon(0px 0px, 67.416px 0px, 89.456px 9.74px, 267px 9.74px, 267px 235.031px, 211.253px 235.031px, 190.509px 243px, 0px 243px);
        background:    
            url("../img/roadmap/frame-full-250.png")
            top no-repeat;
        color: black;
    }
    .questions{   
        &__inner{
            margin-top: 39px;
        }     
        &__text{
            gap: 32px;
        }
        &__title{
            font-size: 35px;
            margin-left: 5px;
            p:nth-child(2) {
                margin-top: 0;
            }
            span{
                padding:0 5px;
                img{
                    width: 28px;
                }
            }
        }
    }
    .team{
        &__cards{
            gap: 40px;
        }
        &__title{
            font-size: 35px;
        }
    }
    .footer{
        
        &__inner{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 50px;
        }
        &__social{
            margin: 0;
        }
        &__rights{
            text-align: start;
            margin: 0;
        }
    }
}

@media screen and (max-width: 393px){
    .roadmap{
        &__inner{
            margin-left: 3%;
        }
    }

}
