.questions{
    &__container{
        padding-bottom: 560px;
        background: 
        url("../img/questions/back_questions.png")
        top left 28% no-repeat;
    }
    &__text{
        /* width: fit-content; */
        margin: 0 auto;
        
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        gap: 22px;
    }
    &__title{
        max-width: 675px;
        text-align: center;
        margin-left: -3px;
        span{
            padding: 0 47px 0 12px;
        }
        p{
            &:nth-child(2){
                margin-top: -13px;
                margin-left: 4px;
            }
        }
    }
    &__info{
        display: flex;
        align-items: center;
        /* gap: 75px; */
        margin-top: 90px;
    }
    &__about{
        @include blur;
        clip-path: polygon(0px 0px, 61.9px 0px, 82.143px 13.134px, 1221px 13.134px, 1221px 766px, 1169.81px 766px, 1150.762px 776.746px, 0px 776.746px);
        overflow: hidden;
        background: linear-gradient(238.33deg, rgba(255, 255, 255, 0) -7.92%, rgba(255, 255, 255, 0.15) 33.87%);
        background: -webkit-linear-gradient(238.33deg, rgba(255, 255, 255, 0) -7.92%, rgba(255, 255, 255, 0.15) 33.87%);
        background: -moz-linear-gradient(238.33deg, rgba(255, 255, 255, 0) -7.92%, rgba(255, 255, 255, 0.15) 33.87%);
        background: -o-linear-gradient(238.33deg, rgba(255, 255, 255, 0) -7.92%, rgba(255, 255, 255, 0.15) 33.87%);
        border: 2.12px solid;
        border-image-source: linear-gradient(109.27deg, rgba(255, 255, 255, 0.33) -4.94%, rgba(255, 255, 255, 0) 56.55%);
        border-image-source: -webkit-linear-gradient(109.27deg, rgba(255, 255, 255, 0.33) -4.94%, rgba(255, 255, 255, 0) 56.55%);
        border-image-source: -moz-linear-gradient(109.27deg, rgba(255, 255, 255, 0.33) -4.94%, rgba(255, 255, 255, 0) 56.55%);
        border-image-source: -o-linear-gradient(109.27deg, rgba(255, 255, 255, 0.33) -4.94%, rgba(255, 255, 255, 0) 56.55%);
        max-width: 83.79vw;
        // height: 777px;
        /* height: fit-content; */
        // display: flex;
        // flex-direction: column;
        // flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(3, minmax(300px,407px));
        grid-template-rows: 192px 29.9px 56.67px 143.9px 146.47px 84.05px 123.75px;
        grid-template-areas: 
            "many mint blockchain"
            "many mintable blockchain"
            "three-vec mintable utility"
            "dusklist mintable utility"
            "dusklist staking utility"
            "much staking mints"
            "much two-vec mints";
        margin: 0 auto;
    }
    &__block{
        padding-left: 21px;
        padding-right: 11px;
        width: 100%;
        // height: fit-content;
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        align-items: flex-start ;
        justify-content: center;
        h3{
            // width: 100%;
            font-family: 'Octos';
            font-style: normal;
            font-weight: 400;
            font-size: 31px;
            line-height: 117.8%;
            letter-spacing: 0.09em;
            text-transform: uppercase;
        }
        p{
            width: fit-content;
            font-family: 'Mazzard';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            margin-top: 16px;
        }
        p:nth-of-type(2){
            font-weight: 700;
            font-size: 24px;
            margin: 0;
        }
    }
    
    .many{
        grid-area: many;
    }
    .mint{
        grid-area: mint;
    }
    .blockchain{
        grid-area: blockchain;
    }
    .three-vec{
        grid-area: three-vec;

        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        height: 56.67px;
    }
    .mintable{
        grid-area: mintable;
    }
    .utility{
        grid-area: utility;
    }
    .dusklist{
        grid-area: dusklist;
    }
    .staking{
        grid-area: staking;
    }
    .much{
        grid-area: much;
        padding-top: 46px;
        padding-bottom: 62px;
        p:nth-of-type(2){
            font-weight: 700;
            font-size: 14px;
            margin: 0;
        }
    }
    .mints{
        grid-area: mints;
    }
    .two-vec{
        grid-area: two-vec;
        
        .questions{
            &__vec:nth-child(2){
                display: flex;
                gap: 12px;
                img:first-child{
                    rotate: 90deg;
                }
                img:last-child{
                    rotate: -90deg;
                }
            }
        }
        
    }

    .three-vec, .two-vec{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border: 1px solid white;
        padding: 0;
        height: 100%;
        width: 100%;
        img{
            object-fit: contain;
            width: fit-content;
        }
    }
    


    
    
    // &__block:nth-child(4) p:nth-of-type(2){
    //     font-weight: 700;
    //     font-size: 14px;
    //     margin: 0;
    // }
    
    // &__vec img:nth-child(1){
    //     transform: rotate(90deg);
    // }
    // &__block:nth-child(2), .questions__block:nth-child(8){
    //     display: flex;
    //     justify-content: space-around;
    //     align-items: center;
    //     padding: 0;
    //     height: 56.67px;
    // }
    // &__block:nth-child(4){
    //     padding-top: 46px;
    //     padding-bottom: 62px;
    // }
    // &__block:nth-child(10){
    //     padding-top: 43px;
    // }
    // &__block:nth-child(8){
    //     padding: 0;
    //     height: 116.75px;
    // }
    // &__block:last-child{
    //     padding-top: 40px;
    //     padding-bottom: 40px;
    // }
    
    // &__block:nth-child(2) .questions__vec:first-child{
    //     width: 29%;
    // } 
    // &__block:nth-child(2) .questions__vec:nth-child(2){
    //     width: 39%;
    // } 
    // &__block:nth-child(2) .questions__vec:nth-child(3){
    //     width: 34%;
    // } 
    // &__block:nth-child(8) .questions__vec:first-child{
    //     width: 51%;
    // }     
}