.roadmap{
    &__container{
        /* изменить картинку на фоне, и тогда по идее убрать эту высоту */
        min-height: 1666px;
        display: flex;
        // background:    
        // url('../img/roadmap-first.png')
        // right top no-repeat;
    }
    &__inner{
        padding-top: 85px;
    }
    &__text{
        width: fit-content;
        margin-top: 53px;
        margin-left: 158px;
        margin-bottom: 111px;
        align-items: flex-start;
        gap: 10px;
        
    }
    &__title{
        margin-left: -8px;
    }
    &__info{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 98px;
    }
    &__about{
        display: flex;
        /* align-items: flex-end; */
        gap: 42px;
        font-family:"Mazzard-R", serif;
        font-size: 13px;
    }
    &__lights-on{
        position: absolute;
        margin: 12px -48px;
    }
    &__points{
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 503px;
        // z-index: 2;
    }
    &__point{
        // height: 175px;
        // position: relative;
        display: flex;
        flex-direction: column;
        // gap: 10px;

        //padding: 34px 70.89px 30px 27px;
        cursor: pointer;
       
        backdrop-filter: blur(16.9248px);
        clip-path: polygon(0px 0px, 61.9px 0px, 82.16px 13.18px, 468px 13.18px, 468px 165.2px, 410.8px 164.3px, 391.748px 175px, 0px 175px);
        overflow: visible;
        // background:    
        // url('../img/frame-175.png')
        // top no-repeat;
        background: linear-gradient(249.9deg, rgba(255, 255, 255, 0) -24.77%, rgba(255, 255, 255, 0.15) 105.99%);
        border: 2.12px solid white;
        border-image-source: linear-gradient(109.27deg, rgba(255, 255, 255, 0.33) -4.94%, rgba(255, 255, 255, 0) 56.55%);

        transition: background-color 0.6s ease;

        &:hover{
            background: #ffffff29;
        }

        &-text{
            padding: 19px 21px 23px 27px;
        }
        h3{
            font-family: "Neue Machina";
            font-weight: 700;
            font-size: 41px;
        }
        h4{
            font-family:"Mazzard-B", serif;
            font-weight: 700;
            line-height: 140%;
        }
        p{
            width: 392px;
        }
    }
    &__point:nth-child(1){
        background:    
        url('../img/frame-full-175.svg')
        left no-repeat;
        color: #000;
        font-size: 15px;
        .roadmap__point-number{
            font-size: 45px;
        }
    }
    &__point:nth-child(5){
        // background:    
        // url('../img/frame-130.svg')
        // left no-repeat;
        height: 130px;
    } 
}

.slideshow{
    // max-width: 1000px;
    //position: absolute;
    // margin: auto;
    z-index: -1;
    margin-left: -42%;
    margin-top: 55px;
    overflow: hidden;
}
.slide {
    display: none;
    &:nth-child(5){
        margin-left: 220px;
    }
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}