.roadmap{
    &__container{
        display: flex;
    }
    &__inner{
        padding-top: 137px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 125px;
    }
    &__nav{
        align-self: center;
        margin-top: -56%;
    }
    &__text{
        margin-right: 50px;
        align-items: flex-start;
        gap: 10px;
    }
    &__title{
        margin-left: -8px;
        span{
            margin: 0 8px 0 -3px;
        }
    }
    &__info{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 98px;
    }
    &__about{
        display: flex;
        gap: 42px;
        font-family:"Mazzard", serif;
        font-weight: 400;
        font-size: 13px;
    }
    &__lights{
        margin-top: 16px;
    }
    &__points{
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-top: -17px;
    }
    &__point{
        @include btn(464);
        @include blur;
        height: 175px;
        clip-path: polygon(0px 0px, 61.9px 0px, 82.16px 13.18px, 468px 13.18px, 468px 165.2px, 410.8px 164.3px, 391.748px 175px, 0px 175px);
        background:    
        url('../img/roadmap/frame-175.png')
        top no-repeat;
        &:nth-child(5){
            height: 130px;
            clip-path: polygon(0px 0px, 61.918px 0px, 82.16px 13.186px, 462px 13.186px, 462px 119.212px, 410.799px 119.212px, 391.748px 130px, 0px 130px);
            background:    
            url('../img/roadmap/frame-130.png')
            top no-repeat;
            &.active{
                height: 148.71px;
                clip-path: polygon(0px 0px, 67.413px 0px, 89.451px 14.31px, 503px 14.31px, 503px 137px, 448px 137px, 427.258px 148.708px, 0px 148.708px);
                background:    
                    url("../img/roadmap/frame-full-130.png")
                    top no-repeat;
            }
        }
        &:hover{
            background-color: gray;
        }
        &::before{
            content: "";
            position: absolute;
            width: 50%;
            height: 50%;
            background: linear-gradient(60deg,#F1A347, #FF72E0);
            background: -webkit-linear-gradient(60deg,#F1A347, #FF72E0);
            background: -moz-linear-gradient(60deg,#F1A347, #FF72E0);
            background: -o-linear-gradient(60deg,#F1A347, #FF72E0);
            filter: blur(51.7478px);
        }

        &-text{
            width: 80%;
            align-items: flex-start;
            z-index: 1;
            margin-left: -45px;
            h2{
                font-family: "Neue Machina";
                font-weight: bold;
                font-size: 41px;
            }
            h3{
                font-family:"Mazzard", serif;
                font-weight: bold;
                line-height: 140%;
            }
            p{
                width: 100%;
                font-weight: 400;
            }
        }
        
    }
    &__point:nth-child(1)::before{
        margin-left: 50%;
        margin-bottom: 26%;
    }
    &__point:nth-child(2)::before{
        margin-top: 26%;
        margin-right: 40%;
    }
    &__point:nth-child(3)::before{
        margin-left: 25%;
        margin-bottom: 26%;
    }
    &__point:nth-child(4)::before{
        margin-left: 25%;
        margin-bottom: 26%;
    }
    &__point:nth-child(5)::before{
        margin-top: 26%;
        margin-right: 40%;
    } 

    &__line-mobile{
        display: none;
    }
}

.active{
    width: 503px;
    clip-path: polygon(0px 0px, 67.413px 0px, 89.451px 13.186px, 503px 13.186px, 503px 164.212px, 447.255px 164.212px, 426.513px 175px, 0px 175px);
    background:    
        url("../img/roadmap/frame-full-175.png")
        top no-repeat;
    color: black;
}
.slideshow{
    z-index: -1;
    margin-left: -36.5%;
    margin-top: 5px;
    overflow: hidden;
}
.slide {
    display: none;
    &:nth-child(5){
        margin-left: 220px;
    }
    @include fade;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}