.team{
    &__container{
        margin-top: 259px;
        margin-bottom: 161px;
    }
    &__info{
        display: flex;
        margin-top: 103.58px;
        align-items: center;
    }
    &__text{
        align-items: center;
        gap: 20.5px;
    }
    &__title{
        p{
            &:nth-child(1){
                margin-left: -19px;
                margin-bottom: -12px;
            }
            &:nth-child(2){
                margin-left: 21px;
                span{
                    padding: 0 34px 0 26px;
                }
            }
        }
    }
    &__cards{
        margin: 0 auto;
        gap: 27px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__card{
        position: relative;
        background:    
        url('../img/team/card-sm.png')
        top no-repeat;
        width: 265.2px;
        height: 420.85px;
        
    
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
       
        
        img{
            width: 247.08px;
            height: 328.97px;
            margin-top: 19.39px;
        }
        
        &:hover{
            background:    
            url('../img/team/card-lg.png')
            top no-repeat;
            width: 312px;
            height: 501px;
            color: black;
            @include scale;
            
            img{
                width: 290.68px;
                height: 387.02px;
                margin-top: 32.31px;
                object-fit: cover;
            }
            div{
                &:nth-child(1){
                    font-size: 24px;
                }
                &:nth-child(2){
                    font-size: 13px;
                }
            }
        }    
    }
    &__job{
        font-size: 8px;
        line-height: 140%;
        align-self: flex-start;
        margin-left: 16px;
        margin-top: 9px;
    }
    &__name{
        font-family: "Octos",serif;
        font-size: 21px;
        line-height: 117.8%;
        text-transform: uppercase;
        align-self: flex-start;
        margin-left: 16px;
    }
}
