*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: inherit;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background-color: #080809;
    color: white;
    margin: 0 auto;
    font-family: "Mazzard",serif;
    position: relative;
}
.ellipses{
    position: absolute;
    width: 100%;
    height: 100%;
    background: 
        url("../img/elipses.png")
        6% no-repeat;
    background-size: cover;
    z-index: 1;
}
[class*="__container"]{
    width: 100vw;
    // height: fit-content;
}
[class*="__inner"]{
    position: relative;
    z-index: 2;
}

[class*="__title"]{
    font-size: 64px; 
    font-family: "Octos",serif;
    font-weight: 400;
    line-height: 76px;
    letter-spacing: 0.365em;
    text-transform: uppercase;
    text-align: center;
}

[class*="__text"]{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div[class*="btn"]{
    font-family: "Neue Machina";
    font-weight: bold;
    /* letter-spacing: 0.9px; ???????????????????? */
    line-height: 140%;
}

[class$="__nav"]{
    display: flex;
    align-items: center;
    gap: 40px;
    font-family: "NeueMachina", sans-serif;
    font-weight: 500;
    letter-spacing: 0.9px;
    width: 22px;
    transform: rotate(90deg);
    align-self: flex-start;
    margin-left: 53px;
}

[class*="__nav-link"]{
    font-weight: 500;
    line-height: 140%;
    opacity: 70%;
    &:nth-child(2), &:nth-child(4)
    {
        opacity: 1;
    }
    &:hover{
        opacity: 1;
    }
}

a{
    text-decoration: none;
    color: white;
}

@mixin btn($width) {
    height: 56px;
    width: $width*1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.6s ease;
    overflow: hidden;
    font-weight: 700;
    cursor: pointer;
    &:hover{
        color: #000;
    }
}

@mixin fade {
    @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }
      
    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }
}
@mixin blur{
    backdrop-filter: blur(16.9248px);
    -webkit-backdrop-filter: blur(16.9248px);
}

// @mixin before($property) {
//     content: "";
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     background: linear-gradient($property);
//     backdrop-filter: blur(17px);
//     // z-index: -1;
// }

// @mixin more{
//     position: absolute;
//     clip-path: polygon(0px 5.493px, 89.877px 5.493px, 98.366px 0px, 130px 0px, 130px 56px, 29.46px 56px, 21.471px 51.54px, 0px 51.54px);
//     @include btn(136);
//     font-size: 16px;
//     color: black;
//     &:hover{
//         filter: brightness(1.2);
//     }
// }
