*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: inherit;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #080809;
    color: white;
    margin: 0 auto;
    font-family: "Mazzard",serif;
    position: relative;
    overflow-x: hidden;
}
.ellipses{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/elipses.png) 
    6% no-repeat;
    background-size: cover;
    z-index: 1;
}
[class*="__container"]{
    width: 100vw;
}
[class*="__inner"]{
    position: relative;
    z-index: 2;
}

[class*="__title"]{
    font-size: 64px; 
    font-family: "Octos",serif;
    font-weight: 400;
    line-height: 76px;
    letter-spacing: 0.365em;
    text-transform: uppercase;
    text-align: center;
}

[class*="__text"]{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div[class*="btn"]{
    font-family: "Neue Machina";
    font-weight: bold;
    line-height: 140%;
}

[class$="__nav"]{
    display: flex;
    align-items: center;
    gap: 40px;
    font-family: "NeueMachina", sans-serif;
    font-weight: 500;
    letter-spacing: 0.9px;
    width: 22px;
    transform: rotate(90deg);
    align-self: flex-start;
    margin-left: 53px;
}

[class*="__nav-link"]{
    font-weight: 500;
    line-height: 140%;
    opacity: 70%;
    &:nth-child(2), &:nth-child(4)
    {
        opacity: 1;
    }
    &:hover{
        opacity: 1;
    }
}

a{
    text-decoration: none;
    color: white;
}

@mixin btn($width) {
    height: 56px;
    width: $width*1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.6s ease;
    -webkit-transition: background-color 0.6s ease;
    -moz-transition: background-color 0.6s ease;
    -o-transition: background-color 0.6s ease;
    overflow: hidden;
    font-weight: 700;
    cursor: pointer;
    &:hover{
        color: #000;
    }
}

@mixin fade {
    @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }
      
    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }
}
@mixin scale {
    animation-name: scale;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezer(1, .01, 0, 1.01);
    @-webkit-keyframes scale {
        from {
            -webkit-transform: scale(1.0);
            -ms-transform: scale(1.0);
                transform: scale(1.0);
            opacity: 0.75;
          }
          50% {
            -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
                transform: scale(1.05);
            opacity: 1.0;
          }
          to { 
           -webkit-transform: scale(1.0);
            -ms-transform: scale(1.0);
                transform: scale(1.0);
            opacity: 0.75;
          }
    }
    @keyframes scale {
        from {
            -webkit-transform: scale(1.0);
            -ms-transform: scale(1.0);
                transform: scale(1.0);
            opacity: 0.75;
          }
          50% {
            -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
                transform: scale(1.05);
            opacity: 1.0;
          }
          to { 
           -webkit-transform: scale(1.0);
            -ms-transform: scale(1.0);
                transform: scale(1.0);
            opacity: 0.75;
          }
    }
}
@mixin blur{
    backdrop-filter: blur(16.9248px);
    -webkit-backdrop-filter: blur(16.9248px);
}

